<div class="container mt-4">
  <div class="row">
    <!-- INTERPOLACIÓN -->
    <h2 class="text-center">INTERPOLACIÓN</h2>
    <h3>Hola mi nombre es {{nombre}}</h3>
    <h3>La suma de 10 + 3 = {{getSuma(10,3)}}</h3>
    <br />
  </div>

  <!-- PROPERTY BINDING -->
  <h2 class="text-center">PROPERTY BINDING</h2>
  <div class="container mt-4">
    <input type="text" class="form-control" [placeholder]="textoPlaceholder" [disabled]="deshabilitado" />
    <br />
    <img [src]="imgSrc" alt="Img" width="250px" height="250px" />
  </div>

  <!-- EVENT BINDING -->
  <h2 class="text-center">EVENT BINDING</h2>
  <h3>{{texto}}</h3>
  <button class="btn btn-primary" (click)="cambiarTexto()">Click Me</button>
  <!-- TWO WAY DATA BINDING -->
  <h2 class="text-center">TWO WAY DATA BINDING</h2>
  <input type="text" class="form-control" placeholder="Escriba aquí" [(ngModel)]="texto2" />
  <br />
  {{texto2}}
</div>
